.navigation-bar {
    padding: 1% 0%;
    display: flex;
    justify-content: center;
}

.navigation-bar a {
    color: black;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 140%;
    font-family: Roboto;
}

.navigation-bar a.active, .navigation-bar a:hover {
    color: #4C3EED;
}

#contact-us {
    background-color: #4C3EED;
    color: white;
    font-size: 120%;
    padding: 1% 2.5%;
    border-color: transparent;
    border-radius: 12px;
    position: relative;
    transform: translate(8%, 5%)
}

#contact-us:hover {
    background-color: #8379f7;
    cursor: pointer;
}