body {
    background-color: #D8D8D8;
}

p {
    color: #2D2D2D;
    font-family: 'Roboto';
}

.navigation-bar {
    padding: 1% 0%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-bar a {
    color: black;
    float: left;
    text-align: center;
    padding: 1% 1%;
    text-decoration: none;
    font-size: 150%;
    font-family: 'Roboto';
    font-weight: 400;
    height: 37px;
}

.navigation-bar a:hover {
    color: #4C3EED;
    cursor: pointer;
}

#contact-us-nav:hover {
    background-color: #4C3EED;
    color: white;
    border-radius: 15px;
}

.central-text {
    margin-top: 1%;
    margin-left: 3%;
    font-family: 'Roboto';
    height: 30cm;
    transform: translateY(-100%);
    box-sizing: border-box;
}

#weird-img {
    width: 10%;
}

#title {
    font-weight: 900;
    font-size: 8vw;
    margin: 0% 0%;
}

#democratizing-message {
    font-size: 2vw;
    line-height: 175%;
}

#get-started {
    font-size: 200%;
    background-color: #4C3EED;
    border-color: transparent;
    border-radius: 15px;
    color: white;
    padding: 1.5% 3%;
    margin-top: 5%;
}

#get-started:hover {
    background-color: #8379f7;
    cursor: pointer;
}

#TV {
    transform: translate(70%, 25%);
    width: 45%;
}

#bar-pic {
    width: 52%;
}

#wave-thing {
    width: 100%;
    transform: translateY(39%);
    height: 80%;
}

.central-images {
    width: 70vw;
    position: relative;
    transform: translate(35%, -100%);
}

#description {
    color: #2D2D2D;
    font-size: 1.5vw;
    line-height: 175%;
    text-align: center;
    transform: translateY(-200%);
}

.democratizing-section {
    font-family: 'Roboto';
    width: 40%;
    height: 18cm;
    transform: translate(25%, -70%);
}

.democratizing-table { 
    background-color: #E6E6E6;
    float: left;
}

.democratizing-table img {
    width: 60%;
    padding-top: 15%;
}

.democratizing-table td {
    line-height: 175%;
    color: #2D2D2D;
}

.outer-table {
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 5px 5px #8379f7;
}

.democratizing-table span {
    color: #4C3EED;
}

.everybody-wins-section {
    font-family: 'Roboto';
    transform: translate(120%, -110%);
}

#everybody-wins {
    font-size: 800%;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 18%;
}

.everybody-wins-section button {
    font-size: 175%;
    background-color: #4C3EED;
    border-color: transparent;
    border-radius: 15px;
    color: white;
    padding: 4% 8%;
    margin-top: 5%;
    transform: translateY(-90%);
}

.everybody-wins-section button:hover {
    background-color: #8379f7;
    cursor: pointer;
}

.maximization-section {
    font-family: 'Roboto';
    background-color: #4C3EED;
    height: 29cm;
    transform: translateY(-20%);
}

.maximization-section mark {
    color: #2D2D2D;
    font-weight: 500;
    font-size: 450%;
}

#maximize-your-impact  {
    color: #E6E6E6;
    font-weight: 900;    
    font-size: 800%;
    line-height: 125%;
}

.maximization-section p {
    padding-left: 3%;
    padding-top: 7%;
}

#maximization-paragraph {
    color: white;
    line-height: 150%;
    font-size: 175%;
    padding-top: 4%;
}

#bar-watching-tv {
    transform: translate(170%, -215%);
}

#morph-lines {
    width: 80%;
    transform: translate(30%, -70%);
}

.about-us {
    text-align: center;
}

#about-us-title {
    font-weight: 900;
    font-size: 800%;
    margin-bottom: 5%;
}

#about-us-msg {
    font-size: 160%;
    line-height: 150%;
}

.about-us-table {
    font-family: 'Roboto';
    font-size: 150%;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
}

.about-us-table td {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.more-info {
    margin-left: 5%;
    height: 30cm;
}

#want-more-info {
    font-weight: 900;
    font-size: 800%;
    margin-bottom: 2%;
}

#contact-info {
    font-size: 250%;
    line-height: 175%;
}

#address {
    font-size: 250%;
}

#contact-us {
    color: white;
    font-family: 'Roboto';
    font-size: 350%;
    text-align: center;
}

.contact-form label {
    font-weight: 500;
    font-size: 200%;
    color: #2D2D2D;
}

input {
    font-size: 150%;
}

input[type=text], select, textarea {
    font-family: 'Poppins';
    width: 100%;
    padding: 1%;
    box-sizing: border-box;
    margin-top: 1%;
    margin-bottom: 2%;
    resize: vertical;
    background-color: #D8D8D8;
    border: none;
    border-bottom: 3px solid #2D2D2D;
    text-align: left;
    resize: none;
}  

input[type=submit] {
    font-family: 'Poppins';
    background-color: #4C3EED;
    color: white;
    padding: 2% 4%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
input[type=submit]:hover {
    background-color: #8379f7;
}
  
.contact-form {
    border-radius: 25px;
    background-color: #D8D8D8;
    padding-left: 5%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 30%;
    margin-left: auto;
    margin-right: 3%;
    font-family: 'Poppins';
    box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.555);
    transform: translateY(-70%);
}

.socials {
    width: 20%;
    transform: translateY(-1400%);
}

.socials a {
    padding: 7%;
}