body {
    background-color: #D8D8D8;
}

p {
    color: #2D2D2D;
    font-family: 'Roboto';
}

.navigation-bar {
    padding: 1% 0%;
    display: flex;
    justify-content: center;
}

.navigation-bar a {
    color: black;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 150%;
    font-family: 'Roboto';
    font-weight: 400;
    height: 100%;
}

.navigation-bar a:hover {
    color: #4C3EED;
    cursor: pointer;
}

#contact-us {
    background-color: #4C3EED;
    color: white;
    font-size: 120%;
    padding: 1% 2.5%;
    border-color: transparent;
    border-radius: 12px;
    position: relative;
    transform: translateY(-6%);
    transform: translateX(5%);
}

#contact-us:hover {
    background-color: #8379f7;
    cursor: pointer;
}

.central-text {
    margin-left: 3%;
    font-family: 'Roboto';
    height: 30cm;
    transform: translateY(-92%);
}

#weird-img {
    width: 10%;
}

#title {
    font-weight: 900;
    font-size: 1000%;
    margin: 0% 0%;
}

#message {
    font-size: 250%;
    line-height: 175%;
}

#get-started {
    font-size: 200%;
    background-color: #4C3EED;
    border-color: transparent;
    border-radius: 15px;
    color: white;
    padding: 1.5% 3%;
    margin-top: 5%;
}

#get-started:hover {
    background-color: #8379f7;
    cursor: pointer;
}

#TV {
    transform: translate(70%, 25%);
    width: 45%;
}

#bar-pic {
    width: 52%;
}

#wave-thing {
    width: 100%;
    transform: translateY(39%);
    height: 80%;
}

.central-images {
    width: 75%;
    position: relative;
    transform: translate(35%, -100%);
}

#description {
    color: #2D2D2D;
    font-size: 200%;
    line-height: 175%;
    text-align: center;
    transform: translateY(-200%);
}

.democratizing-section {
    font-family: 'Roboto';
    width: 40%;
    height: 18cm;
    transform: translate(25%, -70%);
}

.democratizing-table { 
    background-color: #E6E6E6;
    float: left;
}

.democratizing-table img {
    width: 60%;
    padding-top: 15%;
}

.democratizing-table td {
    line-height: 175%;
    color: #2D2D2D;
}

.outer-table {
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 5px 5px #8379f7;
}

.democratizing-table span {
    color: #4C3EED;
}

.everybody-wins-section {
    font-family: 'Roboto';
    transform: translate(120%, -110%);
}

#everybody-wins {
    font-size: 800%;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 18%;
}

.everybody-wins-section button {
    font-size: 175%;
    background-color: #4C3EED;
    border-color: transparent;
    border-radius: 15px;
    color: white;
    padding: 4% 8%;
    margin-top: 5%;
    transform: translateY(-90%);
}

.everybody-wins-section button:hover {
    background-color: #8379f7;
    cursor: pointer;
}

.maximization-section {
    font-family: 'Roboto';
    background-color: #4C3EED;
    height: 29cm;
}

.maximization-section mark {
    color: #2D2D2D;
    font-weight: 500;
    font-size: 450%;
}

#maximize-your-impact  {
    color: #E6E6E6;
    font-weight: 900;    
    font-size: 800%;
    line-height: 125%;
}

.maximization-section p {
    padding-left: 3%;
    padding-top: 7%;
}

#maximization-paragraph {
    color: white;
    line-height: 150%;
    font-size: 175%;
    padding-top: 4%;
}

#bar-watching-tv {
    transform: translate(170%, -215%);
}

#morph-lines {
    width: 80%;
    transform: translate(30%, -70%);
}
