<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    {% load static %}

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    </style>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="navigation-bar">
        <a href="#how-it-works">How It Works</a>
        <a href="#about">About</a>
        <a href="#work">Work</a>
        <a href="#pricing">Pricing</a>
        <a href="#blog">Blog</a>
        <button id="contact-us" type="button" href="#contact"><b>CONTACT US</b></button>
      </div>
</body>
</html>