<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    {% load static %}

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
    </style>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="navigation-bar">
        <a href="#how-it-works">How It Works</a>
        <a href="#about">About</a>
        <a href="#work">Work</a>
        <a href="#pricing">Pricing</a>
        <a href="#blog">Blog</a>
        <button id="contact-us" type="button" href="#contact"><b>CONTACT US</b></button>
    </div>

    <img id="wave-thing" src="../static/images/wavy_thing.png">

    <div class="central-text">
        <img id="weird-img" src="../static/images/fad_modrandom.png">

        <p id="title"><span style="color:#4C3EED;">Local</span>Reach.</p>
        <p id="message">Democratizing TV Advertising, Challenging<br>
            Corporate Dominance. <span style="color:#4C3EED">Empower</span> your reach.</p>

        <button id="get-started" type="button"><b>GET STARTED</b></button>
        
        <div class="central-images">
            <img id="TV" src="../static/images/TV.png">
            <img id="bar-pic" src="../static/images/Empower Your Reach.png">
        </div>

        <p id="description">Local Reach is a revolutionary advertising platform, by harnessing the power of our AI targeting system, we<br>
            ensure that your ads are seen by the right people, in the right place, at the right time. We strive to make<br>
            effective targeted advertising accessible and affordable for all businesses, big or small. </p>
    </div>

    <div class="democratizing-section">
        
        <div class="outer-table" style="background-color: #e6e6e6;">
            <table class="democratizing-table">
                <tr>
                    <td style="width: 30%; padding-left: 10%; padding-top: 5%;"><img src="../static/images/TV Icon.png"></td>
                    <td style="font-size: 300%; font-weight: 500; width: 90%; padding-top: 5%;">Democratizing TV</td>
                </tr>
                <tr>
                    <td style="width: 30%; padding-left: 10%;"></td>
                    <td style="font-size: 150%;">Democratizing TV Advertising, Challenging<br>
                        Corporate Dominance. <span>Empower</span> your reach.</td>
                </tr>
                <tr>
                    <td style="width: 30%; padding-left: 10%;"><img src="../static/images/TV Icon.png"></td>
                    <td style="font-size: 300%; font-weight: 500; width: 90%;">Democratizing TV</td>
                </tr>
                <tr>
                    <td style="width: 30%; padding-left: 10%;"></td>
                    <td style="font-size: 150%;">Democratizing TV Advertising, Challenging<br>
                        Corporate Dominance. <span>Empower</span> your reach.</td>
                </tr>
                <tr>
                    <td style="width: 30%; padding-left: 10%;"><img src="../static/images/TV Icon.png"></td>
                    <td style="font-size: 300%; font-weight: 500; width: 90%;">Democratizing TV</td>
                </tr>
                <tr>
                    <td style="width: 30%; padding-left: 10%; padding-bottom: 5%;"></td>
                    <td style="font-size: 150%; padding-bottom: 5%;">Democratizing TV Advertising, Challenging<br>
                        Corporate Dominance. <span>Empower</span> your reach.</td>
                </tr>
            </table>
        </div>

        <div class="everybody-wins-section">
            <p id="everybody-wins">Everybody<br><span style="color: #4C3EED">Wins!</span> <img src="../static/images/Arrow.png" style="width: 18%;"></p>
            
            <button type="button"><b>GET STARTED</b></button>
        </div>
    </div>
</body>
</html>