.about-us {
    text-align: center;
}

#about-us-title {
    font-weight: 900;
    font-size: 800%;
    margin-bottom: 5%;
}

#about-us-msg {
    font-size: 160%;
    line-height: 150%;
}

.about-us-table {
    font-family: 'Roboto';
    font-size: 150%;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
}

.about-us-table td {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}