.democratizing-section {
    display: flex;
    font-family: 'Roboto';
   justify-content:center;
}
#democratizing-table-box{
    width:50%;
    display:flex;
    border-radius:50px;
    padding-left:100px;
    border-radius:50px;
    background-color:#4C3EED;
}

#democratizing-table { 
    display:grid;
    overflow:hidden;
    background-color: #E6E6E6;
    grid-template-rows:1fr 1fr 1fr;
    width:100%;
}

.everybody-wins-section {
    width:50%;
    font-family: 'Roboto';
}

#everybody-wins {
    font-size: 800%;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 18%;
}

.everybody-wins-section button {
    font-size: 175%;
    background-color: #4C3EED;
    border-color: transparent;
    border-radius: 15px;
    color: white;
    padding: 4% 8%;
    margin-top: 5%;
}

.everybody-wins-section button:hover {
    background-color: #8379f7;
    cursor: pointer;
}