html {
    scroll-behavior: smooth;
}

body {
    background-color: #D8D8D8;
    overflow-x: hidden;
    margin: 0;
}

p {
    color: #2D2D2D;
    font-family: 'Roboto';
}

.navigation-bar {
    padding: 1% 0%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-bar a {
    color: black;
    float: left;
    text-align: center;
    padding: 1% 1%;
    text-decoration: none;
    font-size: 150%;
    font-family: 'Roboto';
    font-weight: 400;
    height: 37px;
}

.navigation-bar a:hover {
    color: #4C3EED;
    cursor: pointer;
}

#contact-us-nav:hover {
    background-color: #4C3EED;
    color: white;
    border-radius: 15px;
}
.get-started{
    font-size: 20px;
    background-color: #4C3EED;
    border-color: transparent;
    border-radius: 10px;
    color: white;
    padding: 25px 50px;;
}

.get-started:hover {
    background-color: #8379f7;
    cursor: pointer;
}

#weird-img {
    width: 170px;
    margin-left:-15px;
}

#title {
    font-weight: 900;
    font-size: 130px;
    margin: 0% 0%;
}

.central-text-images {
    display: flex;
    position: relative;
    top: 0;
    margin-top: 20px;
    margin-left:45px;
    font-family: 'Roboto';
    width:100%;
    justify-content:space-evenly;
}

.central-images {
    top:70px;
    display:flex;
    width: 100%;
    position: relative;
    justify-content:space-between;
}

#TV {
    position:absolute;
    width:525px;
    object-fit:contain;
    overflow:hidden;
    bottom:-90px;
    left:0px;
    z-index:1;
}

#bar-pic {
    position:absolute;
    width:590px;
    object-fit:contain;
    overflow:hidden;
    right:50px;
    top:10px;
}

#wave-thing {
    position: absolute;
    z-index: -1;
    width: 1512px;
    top: 450px;
    margin-left:auto;
    margin-right:auto;
}

#wave-flex{
    display:flex;
    align-items:center;
    justify-content:center;
}

#democratizing-message {
    font-size: 25px;
    line-height: 175%;
}

#description {
    margin-top:200px;
    color: #2D2D2D;
    font-size: 1.5vw;
    line-height: 175%;
    text-align: center;
}

#get-started-1 {
    margin-top: 55px;
}

@media (max-width: 1300px){
    #TV {
        width:450px;
        bottom:-50px;
        }
    #bar-pic {
        width:450px;
        right:50px;
    }
    #weird-img {
        width: 125px;
    }
    #title {
        font-size: 100px;
    }
    #democratizing-message{
        font-size:20px;
    }
}

@media (max-width: 1050px){
    .central-text-images{
        flex-direction:column;
        margin-left:auto;
        margin-right:auto;
        margin-top:50px;
    }
    .central-text{
        flex-direction:column;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .central-images{
        justify-content:center;
        top:40px;
    }
    #title-weird-img{
        display:flex;
        justify-content:center;
        align-items:center;
    }
    #weird-img{
        width:125px;
        bottom:auto;
    }
    #TV {
        width:300px;
        right:0;
        left:100px;
        top:100px;
        position:relative;
        }
    #bar-pic {
        width:300px;
        left:-100px;
        right:auto;
        position:relative;
    }
    #weird-img {
        width: 125px;
    }
    #title {
        font-size: 100px;
    }
    #democratizing-message{
        font-size:20px;
    }
    #wave-thing{
        top:220px;;
    }
}

@media (max-width: 750px){
    #title{
        font-size:70px;
    }
    #weird-img{
        width:70px;
    }
    #democratizing-message{
        font-size: 15px;
    }
    .get-started{
        padding:15px 40px;
    }
    #TV, #bar-pic{
        width:250px;
        min-width:250px;
    }
    #TV{
        top:85px;
    }
    #get-started-1{
        margin-top:40px;
    }
}

.democratizing-section {
    position: relative;
    font-family: 'Roboto';
    width: 40%;
    height: fit-content;
   
}

.democratizing-table { 
    background-color: #E6E6E6;
    float: left;
}

.democratizing-table img {
    width: 60%;
    padding-top: 15%;
}

.democratizing-table td {
    line-height: 175%;
    color: #2D2D2D;
}

.outer-table {
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 5px 5px #8379f7;
}

.democratizing-table span {
    color: #4C3EED;
}

.everybody-wins-section {
    font-family: 'Roboto';
    transform: translate(120%, -110%);
}

#everybody-wins {
    font-size: 800%;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 18%;
}

.everybody-wins-section button {
    font-size: 175%;
    background-color: #4C3EED;
    border-color: transparent;
    border-radius: 15px;
    color: white;
    padding: 4% 8%;
    margin-top: 5%;
    transform: translateY(-90%);
}

.everybody-wins-section button:hover {
    background-color: #8379f7;
    cursor: pointer;
}

.maximization-section {
    margin-left: 0;
    height: 77vw;
    font-family: 'Roboto';
    background-color: #4C3EED;
    min-height: 1500px;
 
}

.maximization-section mark {
    color: #2D2D2D;
    font-weight: 500;
    font-size: 450%;
}

#maximize-your-impact  {
    color: #E6E6E6;
    font-weight: 900;    
    font-size: 800%;
    line-height: 125%;
}

.maximization-section p {
    padding-left: 3%;
    padding-top: 7%;
}

#maximization-paragraph {
    color: white;
    line-height: 150%;
    font-size: 175%;
    padding-top: 4%;
}

#bar-watching-tv {
    z-index: 10;
    width: 45vw;
    position: relative;
    float: right;
    margin-top: 12%;
    
}

#morph-lines {
    width: 80%;
    transform: translate(30%, -70%);
}

.about-us {
    text-align: center;
}

#about-us-title {
    font-weight: 900;
    font-size: 800%;
    margin-bottom: 5%;
}

#about-us-msg {
    font-size: 160%;
    line-height: 150%;
}

.about-us-table {
    font-family: 'Roboto';
    font-size: 150%;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
}

.about-us-table td {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.more-info {
    margin-left: 5%;
    height: 30cm;
}

#want-more-info {
    font-weight: 900;
    font-size: 800%;
    margin-bottom: 2%;
}

#contact-info {
    font-size: 250%;
    line-height: 175%;
}

#address {
    font-size: 250%;
}

#contact-us {
    color: white;
    font-family: 'Roboto';
    font-size: 350%;
    text-align: center;
}

.contact-form label {
    font-weight: 500;
    font-size: 200%;
    color: #2D2D2D;
}

input {
    font-size: 150%;
}

input[type=text], select, textarea {
    font-family: 'Poppins';
    width: 100%;
    padding: 1%;
    box-sizing: border-box;
    margin-top: 1%;
    margin-bottom: 2%;
    resize: vertical;
    background-color: #D8D8D8;
    border: none;
    border-bottom: 3px solid #2D2D2D;
    text-align: left;
    resize: none;
}  

input[type=submit] {
    font-family: 'Poppins';
    background-color: #4C3EED;
    color: white;
    padding: 2% 4%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
input[type=submit]:hover {
    background-color: #8379f7;
}
  
.contact-form {
    border-radius: 25px;
    background-color: #D8D8D8;
    padding-left: 5%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 30%;
    margin-left: auto;
    margin-right: 3%;
    font-family: 'Poppins';
    box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.555);
    transform: translateY(-70%);
}

.socials {
    float: left;
    width: 30vw;
    transform: translateY(-1400%);
}

.socials a {
    padding: 7%;
}