html {
    scroll-behavior: smooth;
}

body {
    background-color: #D8D8D8;
    overflow-x: hidden;
    margin: 0;
}

p {
    color: #2D2D2D;
    font-family: 'Roboto';
}

.desktop-navigation-bar {
    padding: 1% 0%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop-navigation-bar a {
    color: black;
    float: left;
    text-align: center;
    padding: 1% 1%;
    text-decoration: none;
    font-size: 150%;
    font-family: 'Roboto';
    font-weight: 400;
    height: 1.5vw;
}

.desktop-navigation-bar a:hover {
    color: #4C3EED;
    cursor: pointer;
}

.dropdown-navbar {
    display: none;
}

#contact-us-nav:hover {
    background-color: #4C3EED;
    color: white;
    border-radius: 15px;
}

#central-text-images {
    position: relative;
    top: 0;
    margin-top: 1%;
    margin-left: 3%;
    font-family: 'Roboto';
}

#weird-img {
    width: 8vw;
}

#title {
    font-weight: 900;
    font-size: 8vw;
    margin: 0% 0%;
}

#democratizing-message {
    font-size: 2vw;
    line-height: 175%;
}

.get-started {
    font-size: 2vw;
    background-color: #4C3EED;
    border-color: transparent;
    border-radius: 10px;
    color: white;
    padding: 1.5vw 3vw;
    margin-top: 5%;
}

#get-started:hover {
    background-color: #8379f7;
    cursor: pointer;
}

#TV {
    transform: translate(70%, 25%);
    width: 45%;
}

#bar-pic {
    width: 52%;
}

#wave-thing {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 28vw; 
}

#central-images {
    width: 70vw;
    position: absolute;
    transform: translate(35%, -100%);
}

#description {
    color: #2D2D2D;
    font-size: 1.5vw;
    line-height: 175%;
    text-align: center;
    margin-top:25vw;
    margin-bottom:12vw;
}

#democratizing-section {
    column-gap:5vw;
    row-gap:3vw;
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    font-family: 'Roboto';
    margin: 3%;
}

#outer-table {
    width:90%;
    display:flex;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 5px 5px #8379f7;
    justify-content:space-between;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-self:right;
    align-self:start;
    padding-right:3vw;

}

#new-table{
    display:grid;
    column-gap:2vw;
    row-gap:1vw;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 2fr 2fr 10fr;
}

#new-table img{
    position:relative;
    justify-self:end;
    width:3.5vw;
}

#top-img{
    transform:translateY(70%);
}

#middle-img{
    transform: translateY(30%);;
}

#bottom-img{
    transform:translateY(-10%);
}

.how-blurbs p span {
    color: #4C3EED;
}

.how-blurbs{
    display:flex;
    flex-direction:column;
    justify-content:left;
    align-items:left;
}

.how-blurbs h2{
    margin-top:0;
    margin-bottom:1vw;
    font-size:2.5vw;
    font-weight:500;
}

.how-blurbs p{
    margin-top:0;
    margin-bottom:0;
    font-size: 1.5vw;
    line-height: 2.5vw;
}

#bottom-blurb{
    margin-bottom: 3vw;
}

#top-blurb{
    margin-top: 3vw;
}

#everybody-wins{
    font-family: 'Roboto';
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    font-size: 8vw;
    font-weight: 900;
    align-self:center;
    justify-self:center;
    margin-top:0;
    margin-bottom:0;
}

#democratizing-section button {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self:start;
    align-self:start;
    margin-top:0;
}

#democratizing-section button:hover {
    background-color: #8379f7;
    cursor: pointer;
}

.maximization-section {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 0;
    height: 55vw;
    font-family: 'Roboto';
    background-color: #4C3EED;
    overflow:hidden;
}

.maximization-section mark {
    color: #2D2D2D;
    font-weight: 500;
    font-size: 4.5vw;
}

#maximize-your-impact  {
    color: #E6E6E6;
    font-weight: 900;    
    font-size: 8vw;
    line-height: 125%;
}

#maximization-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-left: 5%;
    padding-top: 7%;
}

#maximization-paragraph {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    color: white;
    line-height: 150%;
    font-size: 1.5vw;
    padding-top: 1%;
    padding-left: 5%;
}

#maximize-images{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    overflow:visible;
}

#bar-watching-tv {
    width: 40vw;
    position: relative;
    z-index:1;
}

#morph-lines {
    position:absolute;
    width: 100%;
    transform:translate(-10%, 30%);
    justify-self:end;
}

.about-us {
    text-align: center;
}

#about-us-title {
    font-weight: 900;
    font-size: 8vw;
    margin-bottom: 5%;
}

#about-us-msg {
    font-size: 1.6vw;
    line-height: 150%;
}

.about-us-table {
    font-family: 'Roboto';
    font-size: 1.5vw;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
}

.about-us-table img {
    width: 12vw;
}

.about-us-table td {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.more-info {
    margin-left: 5%;
    height: 70vw;
}

#want-more-info {
    font-weight: 900;
    font-size: 8vw;
    margin-bottom: 2%;
}

#contact-info {
    font-size: 2.5vw;
    line-height: 175%;
}

#address {
    font-size: 2.5vw;
}

#contact-us {
    color: white;
    font-family: 'Roboto';
    font-size: 3.5vw;
    text-align: center;
}

.contact {
    height: fit-content;
}

.contact-form label {
    font-weight: 500;
    font-size: 2vw;
    color: #2D2D2D;
    float: left;
}

input {
    font-size: 2vw;
}

input[type=text], select, textarea {
    font-family: 'Poppins';
    width: 100%;
    padding: 1%;
    box-sizing: border-box;
    margin-top: 1%;
    margin-bottom: 2%;
    resize: vertical;
    background-color: #D8D8D8;
    border: none;
    border-bottom: 2px solid #2D2D2D;
    text-align: left;
    resize: none;
}  

input[type=submit] {
    font-family: 'Poppins';
    background-color: #4C3EED;
    color: white;
    padding: 2% 4%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
  
input[type=submit]:hover {
    background-color: #8379f7;
}
  
.contact-form {
    border-radius: 25px;
    background-color: #D8D8D8;
    padding-left: 5%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 30%;
    margin-left: auto;
    margin-right: 3%;
    font-family: 'Poppins';
    box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.555);
    transform: translateY(-70%);
}

.socials {
    float: left;
    width: 30vw;
}

.socials img {
    width: 3vw;
    margin: 7%;
}

.socials a:hover {
    cursor: pointer;
}
