.maximization-section {
    margin-left: 0;
    height: 77vw;
    font-family: 'Roboto';
    background-color: #4C3EED;
    min-height: 1500px;
 
}

.maximization-section mark {
    color: #2D2D2D;
    font-weight: 500;
    font-size: 450%;
}

#maximize-your-impact  {
    color: #E6E6E6;
    font-weight: 900;    
    font-size: 800%;
    line-height: 125%;
}

.maximization-section p {
    padding-left: 3%;
    padding-top: 7%;
}

#maximization-paragraph {
    color: white;
    line-height: 150%;
    font-size: 175%;
    padding-top: 4%;
}

#bar-watching-tv {
    z-index: 10;
    width: 45vw;
    position: relative;
    float: right;
    margin-top: 12%;
    
}

#morph-lines {
    width: 80%;
    transform: translate(30%, -70%);
}