@media (max-width: 750px){
    /* Landing Page Section */
    #central-text-images{
        display:flex;
        flex-direction:column;
        align-items:center;
    }

    #central-text{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        margin-bottom:50px;
    }

    #central-images{
        display:flex;
        justify-content:center;
        align-items:center;
        transform: translate(0, 0);
        position:relative;
        margin-bottom:0;
    }

    #logo-title{
        display:flex;
    }

    #TV{
        width:150px;
        min-width:150px;
        object-fit:contain; 
        transform:translate(70px, 25px);
        z-index:1;
    }
    #bar-pic{
        transform: translate(-60px, -19px);
        width:150px;
        min-width:150px;
    }

    #title{
        font-weight:900;
        font-size:50px;
    }

    #wave-thing{
        width:800px;
        top:120px;
    }

    #weird-img{
        width:50px;
    }
    #democratizing-message{
        font-size:12px;
        line-height:22px;
    }

    .get-started{
        padding:10px 20px;
        font-size:12px;
    }

    #description{
        transform:translate(0, 0);
        display:flex;
        margin-top:30px;
        margin-bottom:30px;
        justify-content: center;
        align-items:center;
        text-align:justify;
    }
    #description p{
        font-size:12px;
        width:310px;
        line-height:18px;
    }

    /* How It Works Section */

    #democratizing-section{
        grid-template-rows:1fr 3fr 0.75fr;
        transform:translate(0, 0);
    }

    #outer-table{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        transform:translate(0, 0);
        padding-right:0;
        justify-self:center;
        align-self:center;
        border-radius:20px;
        width:330px;
        height:350px;
    }

    #new-table{
        width:100%;
        row-gap:5px;
        column-gap:10px;
    }

    #new-table img{
        width:30px;
    }

    .how-blurbs h2{
        font-size:17px;
        margin-bottom:10px;
    }

    .how-blurbs p{
        font-size:12px;
        line-height:17px;
    }

    #everybody-wins {
        grid-row: 1 / 2;
        grid-column:1 / 3;
        transform:translate(0, 0);
        width:auto;
        align-self:end;
        justify-self:center;
        font-size:50px;
    }

    #democratizing-section button{
        margin-top:10px !important;
        grid-row: 3 / 4;
        grid-column: 1 / 3;
        transform:translate(0, 0);
        align-self:start;
        justify-self:center;
    }

    #top-img{
        transform:translateY(20%);
    }
    
    #middle-img{
        transform: translateY(0%);;
    }
    
    #bottom-img{
        transform:translateY(-20%);
    }
    #top-blurb{
        margin-top:11px;
    }
    #bottom-blurb{
        margin-bottom:11px;
    }
    
}